[Unit]
Description=ndn-prefix-reach
Documentation=https://github.com/yoursunny/ndn-prefix-reach
Wants=network-online.target
After=network-online.target

[Service]
User=ndn-prefix-reach
Group=ndn-prefix-reach
ExecStart=/usr/local/bin/ndn-prefix-reach
TimeoutStopSec=5s
LimitNOFILE=1024
LimitNPROC=64
PrivateTmp=true
ProtectSystem=full

[Install]
WantedBy=multi-user.target
